<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:replace="~{partials :: navbar}"></div>

<div class="container mt-5">
    <form id="search-form">
        <div class="form-group">
            <label for="search-input">Search for Books:</label>
            <input type="text" class="form-control" id="search-input" name="search" placeholder="Enter keywords...">
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
    <div class="row mt-5" id="search-results"></div>
</div>

<!-- Book modal -->
<div class="modal fade" id="book-modal" tabindex="-1" aria-labelledby="book-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="book-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <img id="book-modal-thumbnail" src="" class="card-img" alt="">
                    </div>
                    <div class="col-6">
                        <!-- Book details will be displayed here -->
                        <!--<p id="book-details"></p>-->
                        <h6 class="modal-author" id="book-author"> </h6>
                        <hr>
                        <p id="modal-description" class="card-text overflow-auto book-description-modal"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                <form th:action="@{/books/save}" id="book-form" th:method="POST" th:object="${book}">
                    <input type="hidden" id="book-modal-title" name="title" th:field="*{title}">
                    <input type="hidden" id="book-modal-author" name="author" th:field="*{author}">
                    <input type="hidden" id="book-modal-thumbnail1" name="author" th:field="*{imgUrl}">
                    <input type="hidden" th:field="*{id}">
                    <button class="btn footer-bg w-100" type="submit">Submit Book</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{partials :: footer}"></div>
<div th:replace="~{partials :: scripts}"></div>

</body>
</html>
