<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:replace="partials :: navbar"></div>

<div class="container mt-5">
    <form id="search-form">
        <div class="form-group">
            <label for="search-input">Search for Books:</label>
            <input type="text" class="form-control" id="search-input" name="search" placeholder="Enter keywords...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="row mt-5" id="search-results"></div>
</div>

<!-- Book modal -->
<div class="modal fade" id="book-modal" tabindex="-1" aria-labelledby="book-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="book-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img id="book-modal-thumbnail" src="" class="img-fluid rounded mb-3" alt="">
                        <form th:action="@{/books/save}" id="book-form" th:method="POST" th:object="${book}">
                            <input type="text" id="book-modal-title" name="title" th:field="*{title}">
                            <input type="text" id="book-modal-author" name="author" th:field="*{author}">
                            <input type="hidden" th:field="*{id}">

                            <button class="btn footer-bg w-100" type="submit">Submit Book</button>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <!-- Book details will be displayed here -->
                        <p id="book-details"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>








<!--<div style="margin: 10px">-->
<!--    <form class="d-flex" role="search" id="searchButton">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search books..." aria-label="Search" id="bookSearch">-->
<!--        <button class="btn btn-outline" title="click here" type="submit" ><a href=""></a>Search</button>-->
<!--    </form>-->
<!--</div>-->

<!--<div style="margin: 10px">-->
<!--    <form th:action="@{/books/save}" th:method="post" th:object="${book}">-->
<!--        <div class="mb-3">-->
<!--            <label for="title" class="form-label">Book Title:</label>-->
<!--            <input type="text" name="title" id="title" th:field="*{title}" class="form-control">-->
<!--            <label for="author" class="form-label">Book Author(s):</label>-->
<!--            <input type="text" name="title" id="author" th:field="*{author}" class="form-control">-->
<!--            &lt;!&ndash;                <label for="genre" class="form-label">Book Description:</label>&ndash;&gt;-->
<!--            &lt;!&ndash;                <input type="text" name="title" id="genre" th:field="*{description}" class="form-control">&ndash;&gt;-->
<!--            <input type="hidden" th:field="*{id}">-->
<!--        </div>-->
<!--        <button class="btn footer-bg w-100" type="submit">Submit Book</button>-->
<!--    </form>-->
<!--</div>-->

<!--    <div id="card">-->
<!--        <div id="container">-->
<!--            &lt;!&ndash;    html coming from js&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--<div class="book-list" >-->
<!--    &lt;!&ndash;<h2 class="text-center">Search Result</h2>&ndash;&gt;-->
<!--    <div id="list-output" class="">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; Card being created in googleAPI.js  &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div id="pagination" style="margin-bottom: 5em;"></div>-->


<!--<h1>All Books</h1>-->
<!--<div th:each="book : ${books}">-->
<!--    <a th:href="@{/books/{id} (id = ${book.id})}"><h1 th:text="${book.title}"></h1></a>-->
<!--    <p th:text="${book.author}"></p>-->
<!--    <p th:text="${book.genre}"></p>-->
<!--</div>-->







<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>

</body>
</html>