<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head  th:replace="partials :: head('Books')">
</head>
<body>
<div th:replace="partials :: navbar"></div>

<div >
    <form th:action="@{/books/save}" th:method="post" th:object="${book}">
        <div class="mb-3">
            <label for="title" class="form-label">Book Title:</label>
            <input type="text" name="title" id="title" th:field="*{title}" class="form-control">
            <label for="author" class="form-label">Book Author(s):</label>
            <input type="text" name="title" id="author" th:field="*{author}" class="form-control">
            <!--                <label for="genre" class="form-label">Book Description:</label>-->
            <!--                <input type="text" name="title" id="genre" th:field="*{description}" class="form-control">-->
            <input type="hidden" th:field="*{id}">
        </div>
        <button class="btn footer-bg w-100" type="submit">Submit Book</button>
    </form>
</div>

<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>

</body>
</html>