<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head  th:replace="partials :: head('All Clubs')">
</head>

<body class="bookClubImg-container index-img">
<nav th:replace="~{partials :: navbar}"></nav>

<div class="main-container">
	<a href="/clubs/create"  class="all-clubs-banner">
		<h1 class="club-text">Create a Club!</h1>
	</a>
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-3 w-50 h-25 individual-club-card" th:each="club : ${clubs}" >
			<div class="card" >
				<div class="card-body">
					<h5 class="card-title all-clubs-title" th:text="${club.title}">Card title</h5>
					<p class="card-text email-user-font-size" th:text="${club.description}"></p>
					<a class="footer-bg btn" th:href="@{/clubs/{id} (id = ${club.id})}">View Club</a>
					<!--						<button type="button" class="footer-bg view-club-btn" th:href="@{/clubs/{id} (id = ${club.id})}">View Club</button>-->
				</div>
			</div>
		</div>
	</div>
	<!--</div>-->


<!--	<footer th:replace="~{partials :: footer}"></footer>-->
<!--	<div th:replace="~{partials :: scripts}"></div>-->
</div>
<!--<div class="bookClubImg-container">-->

<!--<a href="/clubs/create"  class="all-clubs-banner">-->
<!--	<h1>Join a Book Club Today!!!</h1>-->
<!--</a>-->
<!--		<div class="row">-->
<!--			<div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-3 w-50 h-25 individual-club-card" th:each="club : ${clubs}" >-->
<!--				<div class="card" >-->
<!--					<div class="card-body">-->
<!--						<h5 class="card-title" th:text="${club.title}">Card title</h5>-->
<!--						<p class="card-text" th:text="${club.description}"></p>-->
<!--						<a class="footer-bg btn" th:href="@{/clubs/{id} (id = ${club.id})}">View Club</a>-->
<!--&lt;!&ndash;						<button type="button" class="footer-bg view-club-btn" th:href="@{/clubs/{id} (id = ${club.id})}">View Club</button>&ndash;&gt;-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--</div>-->


<footer th:replace="~{partials :: footer}"></footer>
<div th:replace="~{partials :: scripts}"></div>
</body>
</html>
