<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="partials :: head('ClubDiscussion')">
</head>

<body>
<div th:replace="partials :: navbar"></div>

<form th:action="@{/clubs/discussion/save}" th:method="post" th:object="${discussion}">
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" name="title" id="title" th:field="*{title}" class="form-control">
    <label for="location" class="form-label">Location:</label>
    <input type="text" name="location" id="location" th:field="*{location}" class="form-control">
    <label for="date" class="form-label">date:</label>
    <input type="text" name="date" id="date" th:field="*{date}" class="form-control">
    <label for="time" class="form-label">Title:</label>
    <input type="text" name="time" id="time" th:field="*{time}" class="form-control">
<!--    this input pertains to discussion id-->
<!--    <input type="hidden" th:field="*{id}" >-->
<!--      this pertains to bookclub id-->
    <input type="hidden" th:value="*{id}" name="bc_id" >
  </div>
  <button class="btn footer-bg w-100" type="submit">Create BookClub!</button>
</form>
<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>


</body>
</html>