<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="partials :: head('ClubDiscussion')">
</head>

<body>
<div th:replace="partials :: navbar"></div>

<form th:action="@{/clubs/discussion/save}" th:method="post" th:object="${discussion}">
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" name="title" id="title" th:field="*{title}" class="form-control">
    <label for="body" class="form-label">Post Body:</label>
    <textarea name="body" id="body" class="form-control" cols="30" rows="10" th:field="*{body}"></textarea>
<!--    this input pertains to discussion id-->
<!--    <input type="hidden" th:field="*{id}" >-->
<!--      this pertains to bookclub id-->
    <input type="hidden" th:value="*{id}" name="bc_id" >
  </div>
  <button class="btn footer-bg w-100" type="submit">Create BookClub!</button>
</form>
<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>


</body>
</html>