<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="partials :: head('Set Meet')">
</head>

<body class="index-img">
<div th:replace="partials :: navbar"></div>

<div class="main-container">
  <div class="row mt-5">
    <div class="test">
      <div class="card-body-bookclub view-club-opacity w-75" >
        <form th:action="@{/clubs/discussion/save}" th:method="post" th:object="${discussion}">
          <div class="mb-3">
            <label for="title" class="form-label">Name:</label>
            <input type="text" name="title" id="title" placeholder="Meeting Name" th:field="*{title}" class="form-control">
            <label for="location" class="form-label">Location:</label>
            <input type="text" name="location" id="location" placeholder="Location" th:field="*{location}" class="form-control">
            <label for="date" class="form-label">Date:</label>
            <input type="text" name="date" id="date" placeholder="MM/DD/YYYY" th:field="*{date}" class="form-control">
            <label for="time" class="form-label">Time:</label>
            <input type="text" name="time" id="time" placeholder="HR:MIN AM/PM" th:field="*{time}" class="form-control">
            <input type="hidden" th:value="*{id}" name="bc_id" >
          </div>
          <button class="btn footer-bg w-100" type="submit">Create Meeting!!!</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>


</body>
</html>
