<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head  th:replace="partials :: head('Individual Club')">
</head>
<!--style tag - add to css-->
<body class="index-img">
<div th:replace="~{partials :: navbar}"></div>

<div class="main-container container">
    <div class="row">
        <div class=" col-md-6 ">
            <div class="view-club-card card-body w-100 view-club-opacity">
                <h1 th:text="${club.title}"></h1>
                <p class="email-user-font-size" th:text="${club.description}"></p>
                <form sec:authorize="isAuthenticated()" th:action="@{/clubs/join}" method="post">
                    <input type="hidden" th:value="*{club.id}" name="clubId">
                    <button class="btn footer-bg w-100 my-2 individual-club-edit-join-btn top-nav-bg" type="submit">Join club</button>
                </form>
            </div>
        </div>
        <div class=" col-6 m-1 mx-auto">
            <div class="view-club-card card-body w-100 view-club-opacity">
                <h1 th:text="|${club.title} Creator|"></h1>
                <h3 th:text="|Username: ${club.user.username}|"></h3>
                <h3 th:text="|Email: ${club.user.email}|"></h3>
                <a sec:authorize="isAuthenticated()"
                   th:href="@{'/clubs/' + ${club.id} + '/edit'}"
                   th:if="${#authentication.principal.id == club.user.id}"
                   class="footer-bg btn w-100 my-2 individual-club-edit-join-btn">Edit Club</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-sm-6 test">
            <div class="view-club-card card-body view-club-opacity">
                <h1>Current Members:</h1>

                <p class="card-text" th:each="user:${club.users}"><span th:text="${user.username}" class="email-user-font-size"></span></p>

            </div>
        </div>
        <div class="col-12 col-sm-6 test" >
            <div class="view-club-card card-body view-club-opacity">
                <h1>Current book:</h1>
                <img th:src="${club.current_book.imgUrl}" alt="">
                <p th:text="${club.current_book.title}"></p>
                <p th:text="${club.current_book.author}"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="view-club-card card-body w-100 view-club-opacity">
                <h1>Club Meetings!</h1>
                <div class="row">

                    <div class="col-3" th:each="discussion : ${club.user.bookDiscussions}">


                        <div class="view-club-card card-body view-club-opacity my-2 email-user-font-size">
                            <p th:text="${discussion.title}"></p>
                            <p th:text="${discussion.location}"></p>
                            <p th:text="${discussion.date}"></p>
                            <p th:text="${discussion.time}"></p>
                        </div>
                    </div>
                </div>
                <form sec:authorize="isAuthenticated()" th:action="@{/clubDiscussion}" th:method="post">
                    <a sec:authorize="isAuthenticated()" class="nav-brand footer-bg btn w-100 my-2" th:href="@{'/clubs/discussion/create' + '/' + ${club.id}}">Create Club Meeting!</a>
                            <input type="hidden" name="id" th:field="*{club.id}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{partials :: footer}"></div>
    <div th:replace="~{partials :: scripts}"></div>
</div>
</body>
</html>

