<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>

<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" name="username" type="text" class="form-control" />
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" class="form-control" />
    </div>
    <input  class="btn footer-bg w-100" type="submit" value="Log In" />
</form>

</body>
</html>