<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head  th:replace="partials :: head('Welcome')">

</head>
<body class="index-img">
<div th:replace="partials :: navbar"></div>

<div class="main-container container">
    <div class="main-club-container">
        <div class="">
            <!--                // Greeting, email, edit club button-->
            <div class="view-club-card card-body w-50 col-md mx-auto view-club-opacity">
                <div class="row justify-content-center">
                    <div class="card col m-1 view-club-creator-card view-club-opacity">
                        <h5 class="card-title m-2 all-clubs-title">Howdy, [[${#strings.capitalize(user.username)}]]</h5>
                        <p class="email-user-font-size" th:text="|Email: ${user.email}|"></p>

                        <button type="button" class="footer-bg btn edit-modal profile-top-card mb-2 top-nav-bg" data-bs-toggle="modal" data-bs-target="#editInfo">
                            Edit Profile
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--        // created book clubs and book club memberships-->
        <div class="individual-club-container">
            <div class="card-body profile-middle-card w-100 col-md-6 mx-auto view-club-opacity">
                <div class="row">
                    <div class="card col-6 m-1 view-club-creator-card view-club-opacity">
                        <!--                        data goes here-->
                        <h5 class="card-title profile-mid-card-title">Created Book Clubs:</h5>
                        <ul>
                            <li th:each="club : ${user.clubs}" th:text="${club.title}"></li>
                        </ul>
                        <a href="/clubs/create"><button type="button" class="footer-bg btn edit-modal top-nav-bg" >Create Club</button></a>
                    </div>
                    <div class="card col-6 m-1 view-club-creator-card view-club-opacity div-align-button-bottom">
                        <!--                        data goes here-->
                        <h5 class="card-title profile-mid-card-title">Book Club Memberships:</h5>
                        <ul>
                            <li th:each="bookClub : ${bookClubs}" th:text="${bookClub.title}"></li>
                        </ul>
                        <a href="/clubs"><button type="button" class="align-button-bottom edit-modal footer-bg btn top-nav-bg">Bookclubs</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!--        // bookshelf-->
        <div class="individual-club-container">
            <div class="profile-middle-card card-body w-100 col-md-6 mx-auto view-club-opacity">
                <div class="row justify-content-center">
                    <div class="card col m-1 view-club-creator-card view-club-opacity">
                        <h5 class="card-title profile-mid-card-title">Bookshelf</h5>
                        <div class="row">
                            <div class="col-sm-3 bookshelfinfo" th:each="book : ${user.books}">
                                <img th:src="${book.imgUrl}" alt="">
                                <p class="card-text" th:text="${book.title}">/p>
                                <p class="card-text" th:text="${book.author}">/p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--            // edit profile info modal-->
    <div class="modal" tabindex="-1" id="editInfo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Info</h5>
                    <button type="button" class="btn-close top-nav-bg" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/profile}" th:method="post" th:object="${user}">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" th:field="*{username}" class="form-control"/>

                        <label for="email" class="form-label">Email</label>
                        <input id="email" th:field="*{email}" class="form-control"/>

                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" th:field="*{password}" class="form-control"/>

                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input id="confirm_password" required type="password" class="form-control"/>
                        <input type="hidden" th:field="*{id}">
                        <button type="submit" class="btn btn-primary top-nav-bg" data-bs-toggle="modal" data-bs-target="#editInfo">
                            Save Changes
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary top-nav-bg" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>

</body>
</html>
