<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head  th:replace="partials :: head('Register')">
</head>

<body class="index-img">
<div th:replace="partials :: navbar"></div>
<div class="container">
    <div class="row mt-5">
        <div class="test">
            <div class="card-body-bookclub view-club-opacity w-100">
                <form class="px-4 py-3" th:action="@{/register}" th:method="POST" th:object="${user}">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input id="email" name="email" type="text" class="form-control" placeholder="email@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" name="username" type="text" class="form-control" placeholder="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input id="confirm_password" name="confirm_password" type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign up!</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>


<!--<script th:src="@{/JS/confirm-password.js}"></script>-->
</body>
</html>