<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head  th:replace="partials :: head('About Us')">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<style>
    .img-padding{
        padding-right: 0;
    }
</style>
<body class="index-img">
<div th:replace="partials :: navbar"></div>

<!--About Us Cards & Info-->

<div class="container main-container">
    <h1 class="aboutUs-header">Meet Our Team</h1>
    <div class="row me-2">

        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 aboutUs-column">
            <div class="aboutUs-card w-100">
                <div class="row aboutUs-card-row-height">
                    <div class="col-lg-6 col-md-12">
                        <img class="headshot" src="/static/img/isaac_img.jpg" th:src="@{/img/isaac_img.jpg}"alt="Isaac">
                    </div>
                    <div class="col-lg-6 col-md-12 aboutUs-container">
                        <h2 class="mt-1">Isaac Ramirez</h2>
                        <hr>
                        <p class="aboutUs-title">Full Stack Web Developer</p>
                        <p>Isaac's quote of the day: "Rejoice in hope, be patient in tribulation, be constant in prayer" — Romans 12:12 </p>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-auto">
                        <div class="card-footer">
                            <p><a href="https://www.linkedin.com/in/IsaacRamirez08" class="aboutUs-link"><i class="fa fa-linkedin-square" style="font-size:24px"> Linkedin</i></a></p>
                            <p><a href="http://www.GitHub.com/IsaacRamirez108" class="aboutUs-link"><i class="fa fa-github" style="font-size:24px"> Github</i></a></p>
                            <p><a href="mailto:isaac.ramirez7365@gmail.com" class="aboutUs-link"><i class="fa fa-envelope" style="font-size:24px"> Isaac.Ramirez7365@gmail.com</i></a></p>
                            <p><a href="https://alumni.codeup.com/students/1778"><button class="aboutUs-button top-nav-bg">Codeup Alumni Portal</button></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 aboutUs-column">
            <div class="aboutUs-card w-100">
                <div class="row aboutUs-card-row-height">
                    <div class="col-lg-6 col-md-12">
                        <img class="headshot" src="/static/img/Pauls-Image.jpg" th:src="@{/img/Pauls-image.jpg}" alt="Paul" >
                    </div>
                    <div class="col-lg-6 col-md-12 aboutUs-container">
                        <h2 class="mt-1">Paul Wagner</h2>
                        <hr>
                        <p class="aboutUs-title">Full Stack Web Developer</p>
                        <p>Paul's quote of the day: “The secret of getting ahead is getting started." — Mark Twain</p>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-auto">
                        <div class="card-footer">
                            <p><a href="https://www.linkedin.com/in/paulwagner1120/" class="aboutUs-link"><i class="fa fa-linkedin-square" style="font-size:24px"> Linkedin</i></a></p>
                            <p><a href="https://github.com/paul-wagner1120" class="aboutUs-link"><i class="fa fa-github" style="font-size:24px"> Github</i></a></p>
                            <p><a href="mailto:paul.wagner1120@gmail.com" class="aboutUs-link"><i class="fa fa-envelope" style="font-size:24px"> paul.wagner1120@gmail.com</i></a></p>
                            <p><a href="https://alumni.codeup.com/students/1773"><button class="aboutUs-button top-nav-bg">Codeup Alumni Portal</button></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 aboutUs-column">
        <div class="aboutUs-card w-100">
            <div class="row aboutUs-card-row-height">
                <div class="col-lg-6 col-md-12">
                    <img class="headshot" src="/static/img/Joshua-image.jpeg" th:src="@{/img/Joshua-image.jpeg} "alt="Joshua">
                </div>
                <div class="col-lg-6 col-md-12 aboutUs-container">
                    <h2 class="mt-1">Joshua Ramos</h2>
                    <hr>
                    <p class="aboutUs-title">Full Stack Web Developer</p>
                    <p>Joshua's quote of the day: "Just because something doesn't do what you planned it to do doesn't mean it's useless."</p>
                </div>
            </div>
            <div class="container">
                <div class="row mt-auto">
                    <div class="card-footer">
                        <p><a href="https://www.linkedin.com/in/josh-m-ramos/" class="aboutUs-link"><i class="fa fa-linkedin-square" style="font-size:24px"> Linkedin</i></a></p>
                        <p><a href="https://github.com/joshuamramos32" class="aboutUs-link"><i class="fa fa-github" style="font-size:24px"> Github</i></a></p>
                        <p><a href="mailto:joshua.m.ramos32@gmail.com" class="aboutUs-link"><i class="fa fa-envelope" style="font-size:24px"> joshua.m.ramos32@gmail.com</i></a></p>
                        <p><a href="https://alumni.codeup.com/students/1786"><button class="aboutUs-button top-nav-bg" >Codeup Alumni Portal</button></a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</div>

<div th:replace="partials :: footer"></div>
</body>
</html>
